{% extends "base.html" %}

{% block content %}
<p><img src="/static/img/banner.jpeg" alt="banner" width="800px" height="400px" hspace="150px"><br><br><br></p>
<div class="card" style="width: 18rem;">
  <img src="/static/img/eoc_tshirt.png" class="card-img-top" alt="Eye of cthulhu">
  <div class="card-body">
    <h5 class="card-title">Футболка "Глаз Ктулху"</h5>
    <p class="card-text">Современная хлопковая футболка. В жару не жарко - в холод не холодно.</p>
    <a href="#" class="btn btn-primary">положить в корзину</a>
  </div>
</div>
{% endblock %}